*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  height: 100%;
  width: 100%;
  font-family: arial;
  margin: 0;
  padding: 0;
}

.menu {
  background-color:#000000;
  padding: 25px;
  display: flex;
  justify-content: center;
}

.item-menu {
  color: #ffffff;
  margin: 15px;
  text-decoration: none;
}

a:hover {
  transform: scale(1.2);
}

.esquerda {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.esquerda img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.direita {
  position: relative;
  max-width: 50%;
}
.direita img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.direita .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.rodape {
  background-color:#525252;
  color: #ffffff;
  padding: 25px;
  display: flex;
  justify-content: center;
}



a:hover {
  transform: scale(1.2);
}
