*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  height: 100%;
  width: 100%;
  font-family: arial;
  margin: 0;
  padding: 0;
}

.menu {
  background-color:#000000;
  padding: 25px;
  display: flex;
  justify-content: center;
}

.item-menu {
  color: #ffffff;
  margin: 15px;
  text-decoration: none;
}

a:hover {
  transform: scale(1.2);
}

 .content {
            display: flex;
            padding: 20px;
        }
        .content .left {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .content .left img {
            width: 200px;
            height: 150px;
            object-fit: cover;
            border-radius: 10px;
        }
        .content .right {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333;
            border-radius: 10px;
            margin-left: 20px;
            padding: 20px;
        }
        .content .right img {
            width: 100%;
            border-radius: 10px;
        }
        .content .right .text {
            position: absolute;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }




.rodape {
  background-color:#525252;
  color: #ffffff;
  padding: 25px;
  display: flex;
  justify-content: center;
}



a:hover {
  transform: scale(1.2);
}
